.list-component {
    table {
        width: 100%;

        .item-name {
            cursor: pointer;
            color: cornflowerblue;

            &:hover {
                text-decoration: underline;
            }
        }
    }
}
